.btn-group:hover{
color: forestgreen;
}
.product a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    
}
.star p i{
    color: rgb(239, 224, 14);
}
.star:hover{
    border: 1px solid green ;
}
.add-button a{
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px ;
    margin: 0 auto;
    padding: 5px 20px;
}
.add-button a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color
     .5s;
}

.text
 a{
    text-decoration: none;
    color: black;
}
.text a:hover{
    color: green;
}


.dropdown{
    background-color: rgb(17, 175, 17);
}   
.download-app a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: .8em 1em;
    border-radius: 5px;

}